{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<h2>Enter a stock and a number of how many shares want to buy! </h2>
 <form action="/buy" method="POST">
    <div class="mb-3">
        <input autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        <br>
        <input autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">

    </div>
    <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}


