{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<h2>Change your password</h2>
<form action="/changepw" method="POST">
    <br>
    <div class="mb-3">
        <input autofocus class="form-control mx-auto w-auto" name="oldpw" id="oldpw" placeholder="Old Password" type="password">
        <br>
        <input autofocus class="form-control mx-auto w-auto" name="newpw" id="newpw" placeholder="New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change</button>
</form>

{% endblock %}
