{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>You are logged in</h2>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Date</th>
                <th>Price per stock</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>

    {% for history in historys %}
        <tr>
            <td>{{ history.id }}</td>
            <td>{{ history.symbol }}</td>
            <td>{{ history.shares }}</td>
            <td>{{ history.buytime }}</td>
            <td>{{ history.pricepayed }}</td>
            <td>{{ history.balance }}</td>
        </tr>
    {% endfor %}

        </tbody>
    </table>

{% endblock %}
