{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>You are logged in</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>Shares</th>
                <th>Total Value </th>

            </tr>
        </thead>
        <tbody>

    {% for ownedstock in ownedstocks %}
        <tr>
            <td>{{ ownedstock.symbol }}</td>
            <td>{{ ownedstock.price | usd }}</td>
            <td>{{ ownedstock.shares }}</td>
            <td>{{ ownedstock.totalvalue | usd}}</td>
        </tr>
    {% endfor %}

        </tbody>
    </table>
    <h2>Total Balance</h2>
    <h3>{{ totalbalance | usd }}</h3>

{% endblock %}
