{% extends "index.html" %}
{% block tbody %}
    {% for birthday in birthdays %}
        <tr>
            <td>{{ birthday.name }}</td>
            <td>{{ birthday.month }}</td>
            <td>{{ birthday.day }}</td>
            <td>
                <form action="/delite" method="post">
                    <input name="id" type="hidden" value="{{ birthday.id }}">
                    <button type="submit">Delite</button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
